P {font-size: 16pt;
	Color: blue;
	Text-align: justify;
	Font-family: Comic Sans MS;}
H1, h2, h3 {color: #483D8B;
	Text-align: center;
	Font-style: italic;}
.special1 {
	Text-align: center;
  	color: black;
  	font-weight: bolder;
	Font-family: cursive;
	Font-size:16pt;}
.special2 {
	Text-align: center;
  	color: #F08080;
  	font-weight: bolder;
	Font-family: Monotype Corsiva;
	Font-size:18pt;}
.special3{
	Text-align: center;
  	color: black;
  	font-weight: bolder;
	Font-family: Monotype Corsiva;
	Font-size:16pt;}
.special4{
	color: #FF00FF;
  	font-weight: 100;
	Font-family: Impact, Charcoal, sans-serif;
	Font-size:16pt;}	
